#! /usr/bin/python -u

import os
import click
import docker
import swsssdk
from natsort import natsorted
from tabulate import tabulate

def run_command(command):
    proc = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE)
    (out, err) = proc.communicate()

    click.echo(out)

    if proc.returncode != 0:
        sys.exit(proc.returncode)

@click.group()
def cli():
    """ {{ schema.name }}. {{ schema.description }} """


@cli.group()
def show():
    """ Create {{ schema.name }} entries. {{ schema.description }} """


@cli.group()
def create():
    """ Show {{ schema.name }} entries. {{ schema.description }} """


@cli.group()
def remove():
    """ Show {{ schema.name }} entries. {{ schema.description }} """

{% for key in schema['keys'] %}
@create.command()
@click.argument('name', type=click.STRING)
{%- for field in key.fields %}
{%- if field.optional != 'true' %}
{%- if field.type == 'choice' %}
@click.argument('{{ field.name }}', type=click.Choice({{ field.choice_list }}))
{%- elif field.type == 'string' %}
@click.argument('{{ field.name }}', type=click.STRING)
{%- elif field.type == 'int' %}
@click.argument('{{ field.name }}', type=click.INT)
{%- elif field.type == 'intrange' %}
@click.argument('{{ field.name }}', type=click.IntRange({{ field.int_min }}, {{ field.int_max }})
{%- endif %}
{%- endif %}
{%- endfor %}
def {{ key.name | lower | replace(schema.name + "_", "") }}(name{% for field in key.fields %},{{field.name}}{% endfor %}):
    """ Create {{ key.name | lower | replace(schema.name + "_", "") }}. {{ key.description }}\f
{%- if "predefined_keys" in key %}
    NAME (one of {% for predef in key.predefined_keys %}{{predef.name}}{{ "/" if not loop.last }}{% endfor %})\f
{%- endif %}
{%- for field in key.fields %}
{%- if field.optional != 'true' %}
    {{ field.name | upper }} {{ field.description }}\f
{%- endif %}
{%- endfor %}
    """
    if os.geteuid() != 0:
        exit("Root privileges are required for this operation")
{%- if "predefined_keys" in key %}
    if name not in {{ key.predefined_keys | map(attribute='name') | list }}:
        exit("Name %s is not valid, only {{ key.predefined_keys | map(attribute='name') | join(',') }} are allowed" % name)
{%- endif %}
    configdb = swsssdk.ConfigDBConnector()
    configdb.connect()
    {{ key.name }}_info = {
{%- for field in key.fields %}
{%- if field.optional != 'true' %}
        '{{ field.name}}': {{ field.name }},
{%- endif %}
{%- endfor %}
        }
    configdb.mod_entry("{{ key.name }}", name, {{ key.name }}_info)

    click.echo("Entry created in CONFIG_DB")


@show.command()
def {{ key.name | lower | replace(schema.name + "_", "") }}():
    """ Show {{ key.name | lower | replace(schema.name + "_", "") }} entries. {{ key.description }} """
    configdb = swsssdk.ConfigDBConnector()
    configdb.connect()

    table = configdb.get_table('{{ key.name }}')
    header = ["{{ key.name | lower | replace(schema.name + "_", "") | upper }}"{% for field in key.fields %},"{{ field.name | upper }}"{% endfor %}]
    lines = []
    for key in table:
        lines.append([
            key,
{%- for field in key.fields %}
            table[key]["{{ field.name }}"],
{%- endfor %}
         ])

    click.echo(tabulate(lines, header))


@remove.command()
@click.argument('name', type=click.STRING)
def {{ key.name | lower | replace(schema.name + "_", "") }}(name):
    """ Remove {{ key.name | lower | replace(schema.name + "_", "") }} entries. {{ key.description }} """
    configdb = swsssdk.ConfigDBConnector()
    configdb.connect()

    if name not in configdb.get_keys('{{ key.name }}'):
        click.echo("Entry %s does not exist" % name)
        click.Abort()

    configdb.set_entry('{{ key.name }}', name, None)

    click.echo("Entry removed from CONFIG_DB")


{% endfor %}
{% for cmd in schema.additional_commands %}
@cli.command()
{%- for arg in cmd.args %}
@click.argument('{{arg.name}}', type=click.STRING)
{%- endfor %}
def {{ cmd.name }}({{ cmd.args|map(attribute='name')|join(',')}}):
    """
    {{cmd.name}}.\f
{%- for arg in cmd.args %}
    {{arg.name|upper}} {{arg.description}}
{%- endfor %}

    """
    # TODO: check if installed
    docker_client = docker.from_env()
    docker_api_client = docker.APIClient(base_url='unix://var/run/docker.sock')


    try:
        output = docker_client.containers.run("marianpritsak/wjh", {{ cmd.args|map(attribute='name')|join(' + " " + ')}}, remove = True, entrypoint = '{{cmd.cmd}}')
    except:
        click.echo("Command failed")
        raise click.Abort()

    click.echo(output)


{% endfor %}
if __name__ == '__main__':
    cli()
